<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.daoTmp.MapiConfigMapper">
  <resultMap id="BaseResultMap" type="com.demo.entityTmp.MapiConfig">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="appId" jdbcType="INTEGER" property="appid" />
    <result column="project" jdbcType="VARCHAR" property="project" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="threshold" jdbcType="INTEGER" property="threshold" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="statistics" jdbcType="BIT" property="statistics" />
    <result column="owners" jdbcType="VARCHAR" property="owners" />
    <result column="create_mis" jdbcType="VARCHAR" property="createMis" />
    <result column="update_mis" jdbcType="VARCHAR" property="updateMis" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="updatetime" jdbcType="TIMESTAMP" property="updatetime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, appId, project, name, title, threshold, type, statistics, owners, create_mis, 
    update_mis, status, createtime, updatetime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mapi_config
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from mapi_config
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.demo.entityTmp.MapiConfig" useGeneratedKeys="true">
    insert into mapi_config (appId, project, name, 
      title, threshold, type, 
      statistics, owners, create_mis, 
      update_mis, status, createtime, 
      updatetime)
    values (#{appid,jdbcType=INTEGER}, #{project,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{title,jdbcType=VARCHAR}, #{threshold,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, 
      #{statistics,jdbcType=BIT}, #{owners,jdbcType=VARCHAR}, #{createMis,jdbcType=VARCHAR}, 
      #{updateMis,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}, 
      #{updatetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.demo.entityTmp.MapiConfig" useGeneratedKeys="true">
    insert into mapi_config
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="appid != null">
        appId,
      </if>
      <if test="project != null">
        project,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="threshold != null">
        threshold,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="statistics != null">
        statistics,
      </if>
      <if test="owners != null">
        owners,
      </if>
      <if test="createMis != null">
        create_mis,
      </if>
      <if test="updateMis != null">
        update_mis,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="updatetime != null">
        updatetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="appid != null">
        #{appid,jdbcType=INTEGER},
      </if>
      <if test="project != null">
        #{project,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="threshold != null">
        #{threshold,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="statistics != null">
        #{statistics,jdbcType=BIT},
      </if>
      <if test="owners != null">
        #{owners,jdbcType=VARCHAR},
      </if>
      <if test="createMis != null">
        #{createMis,jdbcType=VARCHAR},
      </if>
      <if test="updateMis != null">
        #{updateMis,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.demo.entityTmp.MapiConfig">
    update mapi_config
    <set>
      <if test="appid != null">
        appId = #{appid,jdbcType=INTEGER},
      </if>
      <if test="project != null">
        project = #{project,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="threshold != null">
        threshold = #{threshold,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="statistics != null">
        statistics = #{statistics,jdbcType=BIT},
      </if>
      <if test="owners != null">
        owners = #{owners,jdbcType=VARCHAR},
      </if>
      <if test="createMis != null">
        create_mis = #{createMis,jdbcType=VARCHAR},
      </if>
      <if test="updateMis != null">
        update_mis = #{updateMis,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.demo.entityTmp.MapiConfig">
    update mapi_config
    set appId = #{appid,jdbcType=INTEGER},
      project = #{project,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      threshold = #{threshold,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER},
      statistics = #{statistics,jdbcType=BIT},
      owners = #{owners,jdbcType=VARCHAR},
      create_mis = #{createMis,jdbcType=VARCHAR},
      update_mis = #{updateMis,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      updatetime = #{updatetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>